p {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin: 0 2rem;
    text-align: center;
    width: 200px;
  }
}
.icon:hover {
  border-radius: 50%;
  background-color: var(--light-color);
  cursor: pointer;
}
.icon_arrow_left {
  width: 14px;
  height: 14px;
}
.icon_arrow_right {
  width: 14px;
  height: 14px;
  transform: rotate(180deg);
}
